# MacOS
.DS_Store

# Default TypeSpec output
tsp-output/
dist/

# Dependency directories
node_modules/

# http-client-csharp emitter artifacts
Configuration.json
tspCodeModel.json

# artifacts
sdk/src/bin*
sdk/src/obj*
sdk/.vs*